*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
/* CONTAINER */
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px; /* Agrega espacio entre los elementos */
}
.columna1 {
  grid-area: 2 / 1 / 2;
  text-align: -webkit-center;
 }

.columna2 {
  grid-area: 1 / 3 / 3 /2;
  position: relative;
}
@media (max-width:440px){
  .columna2{
    grid-area: 2 / 3 / 3 /2;
  }
}

.imagen{
    width: 66%;
    height: auto;
    border-radius: 7%;
}
.title{
  color: gray;
  position: relative;
  margin-left: 13%;
  top: 292px;
  font-size: 3rem;
}
@media (max-width:980px){
  .title{
    margin-left: 12%;
    top: 157px;
    font-size: 2rem;
  }
}
@media (max-width:548px){
  .title{
    margin-left: 0%;
    top: 127px;
  }
}
.text{
  font-size: 2rem;
    color: gray;
}
.footer {
    background: linear-gradient(
      to right,
      yellow 64%, /* Primer tercio amarillo */
      red 2%, /* Segundo tercio rojo */
      purple 89% /* Resto morado */
    );
    padding: 23px;
  }
  /* ICONOS */
  .bxl-github {
    font-size: 50px;
    color: gray;
  }
  .bxl-facebook-circle{
    font-size: 50px;
    color: gray;
    margin-left: 75px;
  }