*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    margin: 0%;
    padding: 3%;
}

.imagen{
    width: 40%;
    height: auto;
    align-items: flex-end;
    border-radius: 7%;
}

.footer{
  background-color: brown;
}